[submodule "external/dotbot"]
	path = external/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "external/gws"]
	path = external/gws
	url = https://github.com/StreakyCobra/gws
[submodule "external/antigen"]
	path = external/antigen
	url = git@github.com:zsh-users/antigen.git
[submodule "external/psql2csv"]
	path = external/psql2csv
	url = git@github.com:dsager/psql2csv.git
